[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dotenv = "*"
opencv-python = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.15"
